@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <div class="row">
                <div class="col-sm-6 b-r">
                            <#input id="id" name="" value="${item.id}" underline="true"/>
                            <#input id="occupyHomeType" name="老人类别(0特困老人  1低保老人  2建档立卡贫困老人优抚对象  3失独老人  4残疾老人 
5计划生育特殊家庭成员  6其他 7空巢老人  8农村留守老人_)" value="${item.occupyHomeType}" underline="true"/>
                            <#input id="occupyHomeGovernmentPurchases" name="政府购买对象(0 70岁以上享受城乡低保待遇  1 80岁以上重点优抚对象 2 80岁以上失独老人)" value="${item.occupyHomeGovernmentPurchases}" underline="true"/>
                            <#input id="occupyHomeUpStandard1" name="达到标准1(0介助   1介护)" value="${item.occupyHomeUpStandard1}" underline="true"/>
                            <#input id="occupyHomeUpStandard2" name="达到标准2(0介助   1介护)" value="${item.occupyHomeUpStandard2}" underline="true"/>
                            <#input id="occupyHomeGovernmentToBuy" name="是否为政府购买对象(0 是 1否)" value="${item.occupyHomeGovernmentToBuy}" underline="true"/>
                            <#input id="occupyHomeExpectPension" name="期望养老模式(0居家养老      1社区养老      2机构养老      3其他)" value="${item.occupyHomeExpectPension}" />
                </div>

                <div class="col-sm-6">
                            <#input id="occupyHomeExpectServer" name="期望的服务(0家政服务 1生活照料 2健康咨询  3精神慰藉  4陪同就医  5换季服务 )" value="${item.occupyHomeExpectServer}" underline="true"/>
                            <#input id="createtime" name="" value="${item.createtime}" underline="true"/>
                            <#input id="createuserid" name="" value="${item.createuserid}" underline="true"/>
                            <#input id="deptid" name="" value="${item.deptid}" underline="true"/>
                            <#input id="parentId" name="" value="${item.parentId}" underline="true"/>
                            <#input id="occupyHomeTypeOtherText" name="老人类别其他对应文本" value="${item.occupyHomeTypeOtherText}" underline="true"/>
                            <#input id="occupyHomeExpectPensionOtherText" name="期望养老模式其他类型对应文本" value="${item.occupyHomeExpectPensionOtherText}" />
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="OccupyHomeInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="OccupyHomeInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/face/occupyHome/occupyHome_info.js"></script>
@}
