@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <div class="row">
                <div class="col-sm-6 b-r">
                            <#input id="id" name="" underline="true"/>
                            <#input id="liveState" name="居住状态" underline="true"/>
                            <#input id="needHlep" name="是否特困或者失能" underline="true"/>
                            <#input id="firstHlep" name="是否重点优抚" underline="true"/>
                            <#input id="severeDisability" name="是否重度残疾"/>
                </div>

                <div class="col-sm-6">
                            <#input id="threeNo" name="是否城市三无" underline="true"/>
                            <#input id="fiveInsurance" name="是否农村五保" underline="true"/>
                            <#input id="createDate" name="" underline="true"/>
                            <#input id="updateDate" name="" underline="true"/>
                            <#input id="status" name="" underline="true"/>
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="LivingConditionInfoDlg.addSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="LivingConditionInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/face/livingCondition/livingCondition_info.js"></script>
@}
